.toastFrame {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  background: #ff2d2d;
  border-radius: 15px;
  min-width: 250px;
  padding: 15px;
  z-index: 1;
}
.toastFrame p {
  margin: 0px;
}
