<h1>Exchanger</h1>

<div>
  <select [(ngModel)]="sourceCurrency">
    <option *ngFor="let currCurrency of currencies" [selected]="currCurrency.code == sourceCurrency">{{currCurrency.code}}</option>
  </select>
  <select [(ngModel)]="targetCurrency">
    <option *ngFor="let currCurrency of currencies" [selected]="currCurrency.code == targetCurrency">{{currCurrency.code}}</option>
  </select>
  <input type="number" [(ngModel)]="amount" step="0.01" placeholder="Amount" />
</div>

<div>
  <label for="useDateCheckBox">
    Check for date?
    <input id="useDateCheckBox" type="checkbox" [(ngModel)]="useDate">
  </label>
  <div *ngIf="useDate">
    <input type="date" [(ngModel)]="date">
  </div>
</div>

<button class="btn btn-primary" (click)="calculateExchange()">Calculate</button>

<p>Result: <strong>{{result}}</strong></p>

<toast-component></toast-component>
